target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
/.idea/.gitignore
/.idea/
/docs/modules/ROOT/pages/includes/
/docs/quarkus-opentelemetry-exporter-docs.iml
/quarkus-opentelemetry-exporter-common/quarkus-opentelemetry-exporter-common.iml
/quarkus-opentelemetry-exporter-gcp/deployment/quarkus-opentelemetry-exporter-gcp-deployment.iml
/quarkus-opentelemetry-exporter-gcp/integration-tests/quarkus-opentelemetry-exporter-gcp-integration-tests.iml
/quarkus-opentelemetry-exporter-gcp/runtime/quarkus-opentelemetry-exporter-gcp.iml
/migrate.sh
